.privacy-policy-title h2 {
	font-size: 50px;
	margin-bottom: 60px;
	word-spacing: 8px;
}

.pp-content:not(:last-child) {
	margin-bottom: 60px;
}

.pp-title {
	font-size: 30px;
	margin-bottom: 22px;
	word-spacing: 6px;
}

.pp-description {
	margin-bottom: 15px;
}

.pp-list {
	padding-left: 40px;
	list-style-type: disc;
}

.pp-list li {
	margin-bottom: 15px;
}

@media (max-width: 575px) {
	.privacy-policy-title h2 {
		font-size: 40px;
	}
}