.contact-title {
	margin-bottom: 60px;
}

.contact-title h2 {
	font-size: 50px;
	word-spacing: 8px;
}

.contact-title p {
	font-size: 17px;
}

.form-area {
	box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
	max-width: 800px;
	margin: 0 auto;
	padding: 30px;
	border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	-ms-border-radius: 10px;
	-o-border-radius: 10px;
}

.form-field :is(input, textarea),
.form-field :is(input, textarea)::placeholder {
	font-family: 'Poppins', sans-serif;
	font-weight: 400;
	font-size: 17px;
	color: #212121;
}

.form-field :is(input, textarea) {
	border: 2px solid rgba(33, 33, 33, 0.7);
}

.form-field :is(input, textarea):focus {
	color: #212121;
	border: 2px solid rgba(33, 33, 33, 0.7);
	box-shadow: 0 0 0 0 transparent;
}

.form-btn button {
	padding: 12px 0;
	font-size: 18px;
	font-weight: 500;
	background-color: #FFD533;
	color: #212121;
}

@media (max-width: 575px) {
	.contact-title h2 {
		font-size: 40px;
	}

	.form-area {
		padding: 20px;
	}

	.form-field :is(input, textarea),
	.form-field :is(input, textarea)::placeholder {
		font-size: 16px;
	}
}